{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href={% url 'inicio' %}>Inicio</a>
                </li>
                <li>
                    <a href={% url 'productos' %}>Productos</a>
                </li>
                <li>
                    <a href={% url 'carrito' %}>Carritos</a>
                </li>
                <li>
                    <a href={% url 'contacto' %}>Contactos</a>
                </li>
                <li>
                    <a href={% url 'crear_producto' %}>Crear Producto</a>
                </li>
                <li>
                    <a href={% url 'nuevo_contacto' %}>Nuevo Contacto</a>
                </li>
                <li>
                    <a href={% url 'nuevo_carrito' %}>Nuevo Carrito</a>
                </li>
                <li>
                    <a href={% url 'buscar_producto' %}>Buscar Producto</a>
                </li>
            </ul>
        </nav>

    </header>
    <main>

        {% block index %}{% endblock index %}
        {% block products %}{% endblock products %}
        {% block cart %}{% endblock cart %}
        {% block contact %}{% endblock contact %}
        {% block search %}{% endblock search %}
        {% block search_result %}{% endblock search_result %}
        {% block product_form %}{% endblock product_form %}
        {% block contact_form %}{% endblock contact_form %}
        {% block product_search %}{% endblock product_search %}
        {% block product_results %}{% endblock product_results %}
    </main>
</body>

</html>